$body-background-color: #24273a;
$sidebar-color: #1e2030;
$body-text-color: #cad3f5;
$heading-color: #f4dbd6;
$link-color: #8aadf4;
$nav-child-link-color: #b7bdf8;
$code-background-color: #1e2030;
$border-color: #363a4f;
