// Warm “editor” dark scheme (Just-the-Docs)

$body-background-color: #0f111a;
$sidebar-color: #0b0d13;

$body-text-color: #e6e1cf;
$heading-color: #f0ead6;

$link-color: #c8a96a;
$nav-child-link-color: #d7c08a;

$code-background-color: #121522;
$border-color: #2a2f42;

// Optional niceties (safe even if you delete them later)
$table-background-color: #0f111a;
$search-background-color: #0b0d13;
$feedback-color: #c8a96a;
